#nav-left{
    right: 0px;
    top: 0px;
    width: 34px;
    height: 100%;
    font-family: "Microsoft YaHei";
    background-color: black;
    position:fixed;
}
#nav-top{
	width: 100%;
	height: 28px;
	color: #777;
	background-color: #f5f5f5;
}
#nav-head{
	width: 62%;
	border: 1px solid red;
	height: 28px;
	text-align: center;
	margin-left: 19%;
}
#nav-top1{
	width: 100%;
	color: #777;
	background-color: white;
}
#nav-head1{
	width: 62%;
	margin-left: 19%;
}
#nav-top1 img{
	height: 100px;
}
#nav-top2{
	width: 100%;
	height: 40px;
	background-color: #f10180;
}
#nav-head2{
	width: 62%;
	text-align: center;
	margin-left: 19%;
	font-size: 18px;
	color: white;
}
.nav-end2 li{
	line-height: 40px;
	width: 60px;
}
.nav-end2 li:hover{
	background-color: #db0a76;
	cursor: pointer;
}





#nav-top3{
	width: 100%;
	margin-top: 18px;
	height: auto;
}
#nav-head3{
	height: auto;
	width: 62%;
	margin-left: 19%;
	font-size: 13px;
	color: black;
}
#btn1:hover{
	color: #f10180;
	cursor: pointer;
}


#nav-top4{
	width: 100%;
	margin-top: 18px;
	height: 700px;
}
#nav-head4{
	height: auto;
	width: 62%;
	margin-left: 19%;
	font-size: 13px;
	color: black;
}
#btn-2{
	background-color:  #f7f7f7;
}
#btn-3{
	margin-left: 9%;
	margin-top: 2%;
}
#btn-3 div{
	display: inline-block;
	width: 17%;
	border: 1px solid white;
	text-align: center;
	cursor: pointer;
}
#btn-3 img{
	width: 80%;
	margin-left: 2%;
}
#btn-3 div:hover{
   	border: 1px solid #f43499;
}
#btn-4{
	margin-top: 18px;
	font-size: 14px;
	color: #777;
	border-bottom: 1px dashed #777;
}
.preffre{
	border-bottom: 1px dashed #777;	
}
.preffre div{
	margin-top: 10px;
}
.preffre b{
	font-size: 18px;
}
#btn-5{
	height: 135px;
	background: url(../img/shopxiangqing/05z6fnzs.bmp);
}
#money-shop{
	margin-left: 20px;
}
#money-shop1{
	font-size: 44px;
	 color: #f43499;
}
#money-shop-2{
	float: left;
	width: 62px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	background-color: #f3b241;
	color: #fff;
	font-size: 12px;
	margin-right: 5px;
}
#p-zk{
	font-size: 12px;
	color: #f43499;
	border-radius: 3px;
	text-align: center;
	border: 1px solid #f43499;
	padding: 0 5px;
	position: absolute;
	margin-top: 13px;
}
#s-shopxiangqing{
	float: left;
	font-size: 12px;
	width: 40px;
	text-align: left;
	color: #999;
	line-height: 32px;
	overflow: hidden;
}
#nav-daohang-1{
	width: 250px;
	border: 1px solid #ccc;
	cursor: pointer;
	background-color: #fff;
	position: relative;
	margin-left: 38px;
}
#nav-daohang-1 p{
	height: 24px;
	line-height: 24px;
	padding: 0 24px 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#nav-daohang-2{
	line-height: 35px;
}
#ul-p{
	margin-left: 38px;
	width: 65%;
	margin-top: -10px;
}
#ul-p li{
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	border: 1px solid #ccc;
}
#nav-daohang-3{
	margin-top: 17px;
}
#nav-daohang-4{
	background-color: #f10180;
    border: 1px solid #f10180;
    color: white;
    width: 35%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    margin-left: 38px;
}



#nav-top5{
	width: 100%;
	height: 40px;
}
#nav-head5{
	height: auto;
	width: 62%;
	margin-left: 19%;
	font-size: 13px;
	color: black;
	height: 36px;
	border: 1px solid #e7e7e7;
	border-bottom: 3px solid #000;
	background-color: #fff;
	
}
#nav-head5 div{
	display: inline-block;
	cursor: pointer;
	float: left;
	padding: 0 15px;
	_width: 100px;
	_padding: 0;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 14px;
	color: #333;
	border-left: 1px solid #e7e7e7;
}
#nav-top6{
	width: 100%;
	height: 40px;
}
#nav-head6{
	height: auto;
	width: 62%;
	margin-left: 19%;
	font-size: 13px;
	color: black;
	height: 36px;
}
#xiangqing{
	border-bottom: 1px dashed black;
	
}
#xiangqing m{
	color: #f10180; 
	font-size: 20px;
	
} 
#xiangqing span{
	color: #999;
	font-size: 20px;
	padding-left: 5px;
	position: relative;
	bottom: -2px;
	font-family: arial;
}
#tipsjiesao dd{
	margin-top: 7px;
}
#tipsjiesao span{
    display: inline-block;
    position: absolute;
    margin-top: -18px;
    margin-left: 70px;	
}
#tablep th{
	text-align: right;
	background-color: #f5f5f5;
	color: #666;
	width: 90px;
	font-weight: 700;
	vertical-align: middle;
	
}
#tablep{
	font-size: 14px;
	width: 100%;
	font-family: arial,微软雅黑;
	border: 1px solid #ededed;
	padding: 10px;
	color: #999;

}
#oppy{
	border: #e5e5e5 1px solid;
	background-color: #fff;
	position: relative;
	margin-bottom: 15px;
	overflow: hidden;
	padding: 13px 44px 18px;
}
#oppy1{
	font-size: 14px;
}

#oppy2{
	color: #f10180;
	font-size: 42px;
	line-height: 44px;
	font-family: Arial;
}
#poi{
	background-color: #93d2e6;
	top: 6px;
	border-radius: 2px;
	color: #93d2e6;
}
#oppy3{
	width: 50%;
	padding-left: 40px;
	height: 78px;
	overflow: hidden;
	vertical-align: middle;
	-webkit-box-align: center;
	display: -webkit-box;
	-moz-box-align: baseline;
	border: 1px solid red;
	position: absolute;
	top: 20%;
	left: 44%;
	
}





















































